body {
  height: 100vh;
  margin: 0;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(169, 169, 169);
  color: #000000;
}
/* img{
    width: 100%;
    height: auto;
} */
#container {
  display: flex;
  height: 100vh;
}
.leftPanel {
  /* OPT FIXED LEFT PANEL */
  margin-left: 25px;
  position: fixed;
  z-index: 3;
  width: 240px;
  background-color: rgb(131, 128, 128);
  height: 100vh;
  min-height: 100%;
}
#logo {
  padding: 15px;
}
#logoPNG {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.leftPanelMenu {
  padding-top: 15px;
  padding-bottom: 15px;
}
.leftPanelMenuOpt {
  font-size: 40px;
  padding: 10px;
  margin-top: 5px;
  transition: color 1s, background-color 1s;
  -webkit-transition: color 1s, background-color 1s;
  -ms-transition: color 1s, background-color 1s;
  -moz-transition: color 1s, background-color 1s;
  -o-transition: color 1s, background-color 1s;
}
.leftPanelMenuOpt:hover {
  background-color: rgb(44, 44, 33);
  color: #ffffff;
  cursor: pointer;
}
.leftPanelSocials {
  font-size: 24px;
}
.ics {
  padding-top: 15px;
  padding-left: 3px;
  transition: color 0.5s;
}
.ics:hover {
  color: #f3f3f3;
  cursor: pointer;
}
.rightPanel {
  margin-left: 265px;
  width: 100%;
  height: 100vh;
}
.landingPageTitle {
  font-size: 30px;
  padding: 25px;
}
.landingPageImgContainer {
  padding: 25px;
}
#landingPageImg {
  border-radius: 10px;
}
.landingPageSocials {
  font-size: 44px;
}
.ic {
  padding-top: 45px;
  padding-left: 5px;
  transition: color 0.5s;
}
.ic:hover {
  color: #f3f3f3;
  cursor: pointer;
}
.aboutPage {
  display: none;
}
.aboutPageTitle {
  font-size: 30px;
  padding: 25px;
}
.progressBars {
  width: 450px;
  height: auto;
  padding: 25px;
}
@keyframes progressBarOneAnim {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}
@keyframes progressBarTwoAnim {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}
@keyframes progressBarThreeAnim {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.progressBarOne {
  width: 250px;
  height: 43px;
  border: 5px solid #121212;
  border-radius: 5px;
  margin-top: 25px;
  background-color: rgb(169, 169, 169);
}
.progressBarOneInner {
  background-color: #121212;
  width: 0%;
  height: 43px;
  animation-name: progressBarOneAnim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.progressBarTwo {
  width: 250px;
  height: 43px;
  border: 5px solid #121212;
  border-radius: 5px;
  margin-top: 25px;
  background-color: rgb(169, 169, 169);
}
.progressBarTwoInner {
  background-color: #121212;
  width: 0%;
  height: 43px;
  animation-name: progressBarTwoAnim;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.progressBarThree {
  width: 250px;
  height: 43px;
  border: 5px solid #121212;
  border-radius: 5px;
  margin-top: 25px;
  background-color: rgb(169, 169, 169);
}
.progressBarThreeInner {
  background-color: #121212;
  width: 0%;
  height: 43px;
  animation-name: progressBarThreeAnim;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.workPage {
  display: none;
}
.workPageTitle {
  font-size: 30px;
  padding: 25px;
}
#workPageGallery {
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  width: 100%;
  max-width: 824px;
}
#workPageGalleryImg {
  width: 100%;
  height: auto;
}
.workPageGalleryPreview {
  max-width: 202.25px;
  display: inline-block;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  -o-transition: opacity 0.6s ;
  transition: opacity 0.6s ;
}
.workPageGalleryPreviewImg {
  width: 100%;
  height: auto;
}
.workPageGalleryPreview:hover {
  opacity: 0.5;
  cursor: pointer;
}
.galleryContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1284px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 56px;
  /* margin-top: 10vh; */
}
.galleryItem {
  /* width: 350px;
    height: 200px; */
  font-size: inherit;
}
.galleryItemImg {
  /* max-width: 100%;
    height: auto; */
  width: 350px;
  height: 200px;
  padding: 25px;
}
.contactPage {
  display: none;
}
.contactFormContainer {
  height: auto;
}
