body {
  height: 100vh;
  margin: 0;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgb(169, 169, 169); */
  background-color: #e2e0e5;
  color: #000000;
}
#container {
  display: flex;
  height: 100vh;
}
#leftPanelMobileIcon {
  display: none;
}
.leftPanel {
  margin-left: 25px;
  position: fixed;
  z-index: 3;
  width: 240px;
  /* background-color: rgb(131, 128, 128); */
  background-color: #a6a4a8;
  height: 100vh;
  min-height: 100%;
}
#logo {
  padding: 15px;
}
#logoPNG {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
#leftPanelCloseIcon {
  display: none;
}
.leftPanelMenu {
  padding-top: 15px;
  padding-bottom: 15px;
}
.leftPanelMenuOpt {
  font-size: 40px;
  padding: 10px;
  margin-top: 5px;
  transition: color 1s, background-color 1s;
  -webkit-transition: color 1s, background-color 1s;
  -ms-transition: color 1s, background-color 1s;
  -moz-transition: color 1s, background-color 1s;
  -o-transition: color 1s, background-color 1s;
}
.leftPanelMenuOpt:hover {
  /* background-color: rgb(44, 44, 33); */
  background-color: #838186;
  color: #ffffff;
  cursor: pointer;
}
.leftPanelSocials {
  font-size: 24px;
}
.ics {
  padding-top: 15px;
  padding-left: 3px;
  transition: color 0.5s, transform 0.5s;
}
.ics:hover {
  color: #e2e2e2;
  transform: scale(0.9);
  cursor: pointer;
}
.rightPanel {
  margin-left: 265px;
  width: 100%;
  height: 100vh;
}
.landingPageTitle {
  font-size: 30px;
  padding: 25px;
}
.landingPageImgContainer {
  padding: 25px;
}
#landingPageImg {
  border-radius: 10px;
  width: 1140px;
  height: 641px;
}
.landingPageSocials {
  font-size: 44px;
}
.ic {
  padding-top: 45px;
  padding-left: 5px;
  transition: color 0.5s, transform 0.5s;
}
.ic:hover {
  color: rgba(71, 71, 71, 0.602);
  transform: scale(0.9);
  cursor: pointer;
}
.aboutPage {
  display: none;
}
.aboutPageTitle {
  font-size: 30px;
  padding: 25px;
}
.aboutPageContainer {
  display: grid;
  grid-template-columns: repeat(2, 49%);
}
.aboutPageArtc {
  text-align: justify;
  padding: 50px;
  font-size: 18px;
}
.progressBars {
  width: auto;
  height: auto;
  padding-left: 50px;
  padding-right: 50px;
}
@keyframes progressBarOneAnim {
  from {
    width: 0%;
    color: #000000;
  }
  to {
    width: 75%;
    color: #ffffff;
  }
}
@keyframes progressBarTwoAnim {
  from {
    width: 0%;
    color: #000000;
  }
  to {
    width: 25%;
    color: #ffffff;
  }
}
@keyframes progressBarThreeAnim {
  from {
    width: 0%;
    color: #000000;
  }
  to {
    width: 100%;
    color: #ffffff;
  }
}
.progressBarOne,
.progressBarTwo,
.progressBarThree {
  overflow: hidden;
  color: #000000;
  width: auto;
  height: 43px;
  border: 5px solid #242424;
  border-radius: 5px;
  margin-top: 25px;
  /* background-color: rgb(169, 169, 169); */
  background-color: #e2e0e5;
}
.progressBarOneInner {
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0%;
  height: 43px;
  animation-name: progressBarOneAnim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.progressBarTwoInner {
  background-color: #242424;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  animation-name: progressBarTwoAnim;
  animation-delay: 0.3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.progressBarThreeInner {
  background-color: #242424;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  animation-name: progressBarThreeAnim;
  animation-delay: 0.6s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.aboutPageBottomRowImg {
  overflow: hidden;
  text-align: center;
  padding: 50px;
  width: 38vw;
}
.aboutPageBottomRowImgSrc {
  width: 100%;
  height: auto;
  transition: transform 1.5s, filter 1s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
}
.aboutPageBottomRowImgSrc:hover {
  filter: brightness(50%);
  transform: scale(0.9);
}
.workPage {
  display: none;
}
.workPageTitle {
  font-size: 45px;
  padding: 25px;
  padding-bottom: 0;
}
.galleryContainer {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, 33%);
  height: 100%;
  padding-top: 56px;
}
.galleryItem {
  overflow: hidden;
  width: 450px;
  height: 300px;
  padding: 25px;
}
.galleryItemImg {
  border-radius: 15px;
  width: 450px;
  height: 300px;
  transition: transform 1.5s, filter 1s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
}
.galleryItemImg:hover {
  filter: brightness(50%);
  transform: scale(0.9);
}
.contactPage {
  display: none;
}
.contactPageContainer {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.contactFormContainer {
  grid-column: 1/3;
  grid-row: 2/3;
  justify-content: center;
  height: auto;
  /* background-color: #616161; */
  background-color: #838186;
  margin-left: 45px;
  margin-right: 45px;
  border-radius: 15px;
}
.contactFormTitle {
  text-align: center;
  padding: 15px;
  font-size: 24px;
  color: #ffffff;
}
.contactFromEmailTitle,
.contactFormNameTitle,
.contactFormMsgTitle {
  font-size: 20px;
  padding: 5px;
  color: #ffffff;
}
#contactFormEmail,
#contactFormName,
#contactFormMsg {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: background-color 0.5s;
  font-size: 14px;
}
#contactFormEmail:focus,
#contactFormName:focus,
#contactFormMsg:focus {
  background-color: #c5c3c3;
  border: 1px solid #121212;
  outline: none;
}
#contactFormEmail:hover,
#contactFormName:hover,
#contactFormMsg:hover {
  background-color: #c5c3c3;
  border: 1px solid #121212;
}
#contactFormSubmit {
  font-size: 14px;
  width: 20%;
  /* background-color: #000000; */
  background-color: #242424;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s;
}
#contactFormSubmit:hover {
  background-color: #3f3d3d;
}
#contactFormSubmit:focus {
  outline: none;
}
.contactMeans {
  grid-column: 1/2;
  grid-row: 1/2;
  /* background-color: #616161; */
  background-color: #838186;
  padding: 34px;
  margin: 45px;
  border-radius: 10px;
}
.contactMeansTitle {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 28px;
  text-align: left;
}
.contactMeansEmail,
.contactMeansPhone,
.contactMeansAdress {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.contactMeansIcons {
  /* Może jakieś animacje */
  font-size: 72px;
  margin-right: 5px;
  padding: 10px;
}
.contactMeansText {
  padding: 35px;
  color: #ffffff;
  font-size: 24px;
}
.contactPageCredits {
  display: flex;
  flex-direction: row;
  grid-column: 1/3;
}
.contactPagePhoto {
  grid-column: 2/3;
  grid-row: auto;
  overflow: hidden;
  width: auto;
  height: 450px;
  margin: 45px;
  margin-left: 0;
  border-radius: 15px;
}
.contactPagePhotoSrc {
  height: 510px;
  border-radius: 15px;
  transition: transform 1.5s, filter 1s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
}
.contactPagePhotoSrc:hover {
  filter: brightness(50%);
  transform: scale(1.3);
}
/* Laptops */
@media screen and (max-width: 1601px) and (min-width: 932px) {
  .leftPanel {
    margin-left: 0;
  }
  .rightPanel {
    margin-left: 240px;
  }
  .aboutPageContainer {
    grid-template-columns: auto;
  }
  #landingPageImg {
    width: 954px;
  }
  .progressBars {
    width: auto;
  }
  .progressBarOne,
  .progressBarTwo,
  .progressBarThree {
    width: auto;
  }
  .galleryContainer {
    grid-template-columns: repeat(2, 50%);
  }
  #aboutPageArtcbottom {
    grid-row: 3/4;
  }
  .aboutPageBottomRowImg {
    width: auto;
  }
  .aboutPageBottomRowImgSrc {
    width: 100%;
    height: auto;
  }
}
/* Tablets */
@media screen and (max-width: 931px) {
  .rightPanel {
    margin: auto;
    padding-top: 70px;
  }
  #leftPanelMobileIcon {
    font-size: 50px;
    display: block;
    position: fixed;
    z-index: 1;
    top: 25px;
    left: 25px;
    transition: color 0.5s;
  }
  #leftPanelMobileIcon:hover {
    color: #ffffff;
  }
  .leftPanel {
    margin: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #7c7c7c;
  }
  .leftPanelMenuOpt {
    font-size: 90px;
  }
  .leftPanelSocials {
    font-size: 74px;
    padding: 5vh;
  }
  #logo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  #logoPNG {
    display: none;
    min-width: 20%;
    max-width: 35%;
  }
  #leftPanelCloseIcon {
    display: block;
    font-size: 84px;
    justify-content: center;
    align-content: center;
    padding: 20px;
    transition: color 0.5s;
  }
  #leftPanelCloseIcon:hover {
    color: #ffffff;
  }
  #landingPageImg {
    width: 100%;
    height: auto;
  }
  .progressBars {
    padding-left: 10px;
  }
  #aboutPageArtcbottom {
    grid-row: 3/4;
  }
  .aboutPageContainer {
    text-align: center;
    justify-items: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto;
  }
  .progressBars {
    width: 90%;
    padding: 0;
  }
  .aboutPageBottomRowImg {
    width: auto;
  }
  .galleryContainer {
    grid-template-columns: auto;
  }
  .galleryItem {
    width: 80vw;
    height: auto;
  }
  .galleryItemImg {
    width: 100%;
    height: auto;
  }
  .contactPageContainer {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .contactMeans {
    grid-row: 1/2;
    width: auto;
  }
  .contactPagePhoto {
    margin-left: 45px;
    width: auto;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .contactPagePhotoSrc {
    width: 100%;
    height: auto;
  }
  .contactFormContainer {
    grid-row: 3/4;
  }
}
@media only screen and (max-width: 520px) {
  .contactMeansAdress,
  .contactMeansEmail,
  .contactMeansPhone {
    flex-wrap: wrap;
    justify-content: center;
  }
  .workPageTitle,
  .aboutPageTitle,
  .landingPageTitle {
    font-size: 34px;
  }
  .contactFormContainer {
    margin: 15px;
  }
  #leftPanelCloseIcon {
    font-size: 44px;
  }
  .leftPanelMenuOpt {
    font-size: 44px;
  }
  .leftPanelSocials {
    font-size: 34px;
  }
  .contactPagePhoto {
    height: auto;
    margin: 10px;
  }
  .contactMeans {
    margin: 15px;
  }
  #contactFormSubmit {
    width: auto;
  }
  .contactMeansText {
    /* font-size: 16px; */
  }
  .contactMeansIcons {
    /* font-size: 44px; */
  }
}
