body {
  height: 100vh;
  margin: 0;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(169, 169, 169);
  color: #000000;
}
/* img{
    width: 100%;
    height: auto;
} */
#container {
  display: flex;
  height: 100vh;
}
.leftPanel {
  /* OPT FIXED LEFT PANEL */
  margin-left: 25px;
  position: fixed;
  z-index: 3;
  width: 240px;
  background-color: rgb(131, 128, 128);
  height: 100vh;
  min-height: 100%;
}
#logo {
  padding: 15px;
}
#logoPNG {
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
.leftPanelMenu {
  padding-top: 15px;
  padding-bottom: 15px;
}
.leftPanelMenuOpt {
  font-size: 40px;
  padding: 10px;
  margin-top: 5px;
  transition: color 1s, background-color 1s;
  -webkit-transition: color 1s, background-color 1s;
  -ms-transition: color 1s, background-color 1s;
  -moz-transition: color 1s, background-color 1s;
  -o-transition: color 1s, background-color 1s;
}
.leftPanelMenuOpt:hover {
  background-color: rgb(44, 44, 33);
  color: #ffffff;
  cursor: pointer;
}
.leftPanelSocials {
  font-size: 24px;
}
.ics {
  padding-top: 15px;
  padding-left: 3px;
  transition: color 0.5s;
}
.ics:hover {
  color: #f3f3f3;
  cursor: pointer;
}
.rightPanel {
  margin-left: 265px;
  width: 100%;
  height: 100vh;
}
.landingPageTitle {
  font-size: 30px;
  padding: 25px;
}
.landingPageImgContainer {
  padding: 25px;
}
#landingPageImg {
  border-radius: 10px;
}
.landingPageSocials {
  font-size: 44px;
}
.ic {
  padding-top: 45px;
  padding-left: 5px;
  transition: color 0.5s;
}
.ic:hover {
  color: #f3f3f3;
  cursor: pointer;
}
.aboutPage {
  display: none;
}
.aboutPageTitle {
  font-size: 30px;
  padding: 25px;
}
.progressBars {
  width: 450px;
  height: auto;
  padding: 25px;
}
@keyframes progressBarOneAnim {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}
@keyframes progressBarTwoAnim {
  from {
    width: 0%;
  }
  to {
    width: 25%;
  }
}
@keyframes progressBarThreeAnim {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.progressBarOne {
  width: 250px;
  height: 43px;
  border: 5px solid #121212;
  border-radius: 5px;
  margin-top: 25px;
  background-color: rgb(169, 169, 169);
}
.progressBarOneInner {
  background-color: #121212;
  width: 0%;
  height: 43px;
  animation-name: progressBarOneAnim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.progressBarTwo {
  width: 250px;
  height: 43px;
  border: 5px solid #121212;
  border-radius: 5px;
  margin-top: 25px;
  background-color: rgb(169, 169, 169);
}
.progressBarTwoInner {
  background-color: #121212;
  width: 0%;
  height: 43px;
  animation-name: progressBarTwoAnim;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.progressBarThree {
  width: 250px;
  height: 43px;
  border: 5px solid #121212;
  border-radius: 5px;
  margin-top: 25px;
  background-color: rgb(169, 169, 169);
}
.progressBarThreeInner {
  background-color: #121212;
  width: 0%;
  height: 43px;
  animation-name: progressBarThreeAnim;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.workPage {
  display: none;
}
.workPageTitle {
  font-size: 45px;
  padding: 25px;
  padding-bottom: 0;
}
/*Gallery 2
#workPageGallery {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  width: 100%;
  max-width: 1124px;
}
#workPageGalleryImg {
  width: 100%;
  height: auto;
}
.workPageGalleryPreview {
  max-width: 277.25px;
  display: inline-block;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -ms-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}
.workPageGalleryPreviewImg {
  width: 100%;
  height: auto;
}
.workPageGalleryPreview:hover {
  opacity: 0.5;
  cursor: pointer;
}*/
.galleryContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1284px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 56px;
}
.galleryItem {
  overflow: hidden;
  width: 350px;
  height: 200px;
  padding: 25px;
}
.galleryItemImg {
  /* max-width: 100%;
    height: auto; */
  width: 350px;
  height: 200px;
  padding: 25px;
  transition: transform 1.5s, filter 1s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
}
.galleryItemImg:hover {
  filter: brightness(50%);
  transform: scale(1.3);
}
.contactPage {
  display: none;
}
.contactFormContainer {
  justify-content: center;
  height: auto;
  background-color: #616161;
  margin-left: 45px;
  margin-right: 45px;
}
.contactFormTitle {
  text-align: center;
  padding: 15px;
  font-size: 24px;
  color: #ffffff;
}
.contactFromEmailTitle,
.contactFormNameTitle,
.contactFormMsgTitle {
  font-size: 20px;
  padding: 5px;
  color: #ffffff;
}
#contactFormEmail,
#contactFormName,
#contactFormMsg {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: background-color 0.5s;
  font-size: 14px;
}
#contactFormEmail:focus,
#contactFormName:focus,
#contactFormMsg:focus {
  background-color: #c5c3c3;
  border: 1px solid #121212;
  outline: none;
}
#contactFormEmail:hover,
#contactFormName:hover,
#contactFormMsg:hover {
  background-color: #c5c3c3;
  border: 1px solid #121212;
}
#contactFormSubmit {
  font-size: 14px;
  width: 20%;
  background-color: #000000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.5s;
}
#contactFormSubmit:hover {
  background-color: #1d1c1c;
}
#contactFormSubmit:focus {
  outline: none;
}
.contactMeans {
  background-color: #616161;
  padding: 34px;
  margin: 45px;
  width: 40%;
  border-radius: 10px;
}
.contactMeansTitle {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 28px;
  text-align: left;
}
.contactMeansEmail,
.contactMeansPhone,
.contactMeansAdress {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.contactMeansIcons {
  /* Może jakieś animacje */
  font-size: 72px;
  margin-right: 5px;
  padding: 10px;
}
.contactMeansText {
  padding: 35px;
  color: #ffffff;
  font-size: 24px;
}
.contactPageCredits {
  display: flex;
  flex-direction: row;
}
.contactPagePhoto {
  overflow: hidden;
  width: 50%;
  height: auto;
  margin: 42px;
  border-radius: 15px;
}
.contactPagePhotoSrc {
  width: 100%;
  height: auto;
  border-radius: 15px;
  transition: transform 1.5s, filter 1s ease-in-out;
  transform-origin: center center;
  filter: brightness(100%);
}
.contactPagePhotoSrc:hover {
  filter: brightness(50%);
  transform: scale(1.3);
}
